<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker App | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Exercise tracker app</h1>
      <div class="form-container">
        <form action="/api/users" method="post">
          <h3>Create a New User</h3>
          <p><code>POST /api/users</code></p>
          <input id="uname" type="text" name="username" placeholder="username" />
          <input type="submit" value="Create" />
        </form>
        <form id="exercise-form" method="post">
          <h3>Add exercises</h3>
          <p><code>POST /api/users/:_id/exercises</code></p>
          <input id="uid" type="text" name="userId" placeholder=":_id" required />
          <input id="desc" type="text" name="description" placeholder="description*" required />
          <input id="dur" type="number" name="duration" placeholder="duration* (mins.)" required />
          <input id="date" type="date" name="date" placeholder="date (yyyy-mm-dd)" />
          <input type="submit" value="Add exercise" />
        </form>
        <form id="exercise-logs" method="get">
          <h3>Get user's exercise log</h3>
          <p><code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code></p>
          <input id="ulid" type="text" name="ulid" placeholder=":_id" required />
          <input id="from" type="date" name="from" placeholder="from (yyyy-mm-dd)" />
          <input id="to" type="date" name="to" placeholder="to (yyyy-mm-dd)" />
          <input id="limit" type="number" name="limit" placeholder="limit (number)" />
          <input type="submit" value="Get log" />
        </form>
      </div>
    </div>
    <script>
      const exerciseForm = document.getElementById("exercise-form");
      const exerciseLogs = document.getElementById("exercise-logs");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });

      exerciseLogs.addEventListener("submit", () => {
        const userId = document.getElementById("ulid").value;
        exerciseLogs.action = `/api/users/${userId}/logs`;

        exerciseLogs.submit();
      });
    </script>
  </body>
</html>
